<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anlper.train.mapper.TrainStationMapper">
  <resultMap id="BaseResultMap" type="cn.anlper.train.entities.TrainStation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="train_code" jdbcType="VARCHAR" property="trainCode" />
    <result column="indexes" jdbcType="INTEGER" property="indexes" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_pinyin" jdbcType="VARCHAR" property="namePinyin" />
    <result column="in_time" jdbcType="TIME" property="inTime" />
    <result column="out_time" jdbcType="TIME" property="outTime" />
    <result column="stop_time" jdbcType="TIME" property="stopTime" />
    <result column="km" jdbcType="DECIMAL" property="km" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>